/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: -30;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

#header_bar {
  border: 1px solid #333;
  height: 5%;
  box-shadow: 8px 8px 5px #444;
  padding: 10px 10px;
  background-image: linear-gradient(90deg, #82a9f3, #4b5cee 40%, #180f69);
  margin-bottom: 1%;
  
}

#header_bar > * {
  display:inline-block;
}

#head_bar_item{
  float:right;
  background-color: #4b5cee;
  border: 1px solid #333;
  padding: 8px 12px;
}
#head_bar_item >*{
display:inline;

}
button{
 font-size: smaller;
}
#logo {
text-align: center;
width: 105px;
border: 1px solid #333;
box-shadow: 8px 8px 5px #444;
padding: 8px 0px;
background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
font-size: smaller;
}

#vertical_nav_bar{
display: inline-block;
width: 200px;
height: 600px;
border: 1px solid #333;
box-shadow: 8px 8px 5px #444;
padding: 8px 12px;
margin: 0% 0%;
}

#main{
display: inline-block;
position: relative;
top: 0px;
width: 1232px;
height: 616px;
border: 1px solid #333;
box-shadow: 8px 8px 5px #444;
}

.content-main{
border: 1px solid #333;
box-shadow: 8px 8px 5px #444;
padding: 8px 8px;
}